/* Presentable.css v1.0.0
    * MADE BY CCN0
    * https://github.com/ccn0/presentable.css
*/

body {
    margin:0;
    padding:0;
    background-color: #dedede;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Navigation */

.topnav {
    overflow: hidden;
    background-color: #333;
    color:#fff;
    text-align: center;
    padding:15px;
    cursor:default;
    border-radius: 0 0 10px 10px;
}

.topnav a {
    color: #8ee8ff;
    text-decoration: none;
    font-size: 110%;
    transition: font-size 0.3s;
}

.topnav a:hover {
    color:#8ee8ff;
    font-size: 120%;
}

.topnav a:active {
    color:#1699b9;
}

/* Special HTML Tags */

cr {
    color:#f00;
}

cg {
    color:#0f0;
}

cb {
    color:#00f;
}

cy {
    color:#ff0;
}

cc {
    color:#0ff;
}

cm {
    color:#f0f;
}

bi {
    font-weight: bold;
    font-style: italic;
}

optional {
    color:#aaa;
    font-style: italic;
}

warning {
    color:#f00;
    font-weight: bold;
}

monospace {
    font-family: monospace;
}

fancy {
    font-family: cursive;
}

fantasy {
    font-family: fantasy;
}

box {
    width:60%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:15px;
    font-size:110%;
}

/* Areas & Inputs */

.area {
    margin:15px;
    padding:15px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #525252;
    margin-bottom: 55px;
}

input[type=text]{
    width:80%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:10px;
    font-size:110%;
}

textarea {
    width:80%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:10px;
    font-size:110%;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 300px;
    min-height: 50px;
    resize:vertical;
}

input[type=submit] {
    background-color: #1f41ea;
    color: #fff;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    margin-top:10px;
    font-size:110%;
    cursor: pointer;
    transition: background-color 0.3s, padding 0.3s;
}

input[type=checkbox]{
    width:15px;
    height:15px;
    cursor:pointer;
}
input[type=submit]:hover {
    background-color: #5b75f7;
    padding:12px 24px;
}

/* Footer */

.footer {
    overflow: hidden;
    background-color: #333333ee;
    color:#fff;
    text-align: center;
    padding:15px;
    cursor:default;
    border-radius: 10px 10px 0 0;
    position:fixed;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: #8ee8ff;
    text-decoration: none;
    font-size: 110%;
    transition: font-size 0.3s;
}

.footer a:hover {
    color:#8ee8ff;
    font-size: 120%;
}

.footer a:active {
    color:#1699b9;
}

.footer monospace {
    font-size:125%;
}
